<div class="title-1">Make Planets</div>
<div class="subtitle-1">
  Design your own stable planetary system in minutes.
  <br /><br />
  <img class="heroimg" src="assets/hero.png" />
  <br />
  <i>Interested in helping improve Make Planets? Join the <a href="https://discord.gg/XjdvfW">Discord</a>!</i>
  <br/>
  <h1>A note from the developer:</h1>
  <p>Hi, thank you for trying out my new tool, <b>Make Planets</b>. Make Planets is my attempt at giving back
  to the worldbuilding community by helping scifi authors and other folk design their own plausible planetary systems.
  Even though I stress that <b>this tool is in very early development</b>, I hope that at this point it is usable enough
  to be of interest to early adopters. I am confident that, with time, this tool will grow to be even more feature-complete and
  bug-free than it currently is. Once again -- thank you, and enjoy Make Planets v0.11</p>
  <br/>
  <br/>
</div>
